
@media screen and (max-width: 970px){
   
    header{
        padding: 0;       
    }
    .head-cont
    {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .right-head{
        padding: 2rem !important;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }
    .controlls{
        top: auto;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    
    .left-head
    {
        .h-shape
        {
            display: none;
        }
        .imghead
        {
            margin: 0 auto;
            width: 90%;
        }
    }

    .abt-ctn{
        grid-template-columns: 1fr;
        .ryt-ctn{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-ctn{
            padding-right: 0;
            .h4{
                font-size: 1rem;
            }
            .lft{
                padding-left: 0;
            }
        }
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        margin-right: 2rem;
        .port-item{
         .img, .hover-item{
            width: 50%;
            height: 200px;
         }
        }

    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .abt-stats{
        .progress-bars{
          grid-template-columns: 1fr;   
        }
    }

    .section{
        padding: 2rem 2.5rem !important;
    }
    
    .contact-content-cont{
        .right-contact{
            margin: 0;
            margin-top: 2.5rem;
        }
    }

    .main-title{
        .h2{
            font-size: 2rem;
            .span1{
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 1070px) {
    .abt-ctn{
        grid-template-columns: 1fr;
        .ryt-ctn{
            padding-top: 2.5rem;
        }
    }  
    
    .main-title{
        .h2{
            font-size: 4rem;
            .span1{
                font-size: 4.5rem;
            }
        }
    }

    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
}

/*@media screen and (max-width: 970px) {
    .section{
        padding: 7rem 6rem;
    }
}/*