
@media screen and (max-width: 600px){
   
    header{
        padding: 0;       
    }
    .head-cont
    {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .right-head{
        padding: 2rem !important;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }
    .controlls{
        top: auto;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }
    
    .left-head
    {
        .h-shape
        {
            display: none;
        }
        .img
        {
            margin: 0 auto;
            width: 90%;
        }
    }

    .abt-ctn{
        grid-template-columns: 1fr;
        .ryt-ctn{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-ctn{
            padding-right: 0;
            .lft{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .abt-stats{
   
    }

    .section{
        padding: 2rem 2.5rem !important;
    }
    
}